In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [4]:
training_dir = "/home/mantydze/mokslai/ml4dqm-ul/ZeroBias2017B/scripts/trainings_test/data_small/t-0.9-all_bins"
df_train_path = Path(training_dir, 'df_train.csv') # classified dataset
df_anom_path = Path(training_dir, 'df_anomalies.csv')
df_orig_path = "/home/mantydze/mokslai/ml4dqm-ul/ZeroBias2017B/scripts/data_raw/chargeInner_PXLayer_1.csv"

In [5]:
df_train = pd.read_csv(df_train_path)
df_anom = pd.read_csv(df_anom_path)
df_orig = pd.read_csv(df_orig_path)

In [6]:
bmatch = df_train[(df_train["good_pixel"]==0) & (df_train["y"]==0)]
bmatch[['run', 'lumi', "good", "good_pixel", "y"]]

          run  lumi  good  good_pixel  y
771    297049     1     0           0  0
772    297049     2     0           0  0
773    297049     3     0           0  0
774    297049     4     0           0  0
775    297049     5     0           0  0
...       ...   ...   ...         ... ..
24241  299326    18     0           0  0
24242  299326    19     0           0  0
24243  299326    20     0           0  0
24244  299326    21     0           0  0
24245  299326    22     0           0  0

[1261 rows x 5 columns]

In [7]:
gmatch = df_train[(df_train["good_pixel"]==1) & (df_train["y"]==1)]
gmatch[['run', 'lumi', "good", "good_pixel", "y"]]

          run  lumi  good  good_pixel  y
0      297050   166     0           1  1
1      297050   167     0           1  1
2      297050   170     0           1  1
3      297050   171     0           1  1
4      297050   172     0           1  1
...       ...   ...   ...         ... ..
12170  297486   103     1           1  1
12171  297486   104     1           1  1
12172  297486   105     1           1  1
12173  297486   107     1           1  1
12446  297487     1     1           1  1

[5669 rows x 5 columns]

In [16]:
nmatch = df_train[df_train["good_pixel"]!=df_train["y"]]
nmatch[['run', 'lumi', "good", "good_pixel", "y"]]

          run  lumi  good  good_pixel  y
808    297050   420     1           1  0
809    297050   421     1           1  0
823    297050   424     1           1  0
824    297050   426     1           1  0
825    297050   429     1           1  0
...       ...   ...   ...         ... ..
24483  299329    10     1           1  0
24484  299329    11     1           1  0
24485  299329    12     1           1  0
24486  299329    13     1           1  0
24487  299329    16     1           1  0

[17558 rows x 5 columns]